---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import ProductTeaser from '../components/ProductTeaser.astro';
import ProductGrid from '../components/ProductGrid.astro';
import About from '../components/About.astro';
import ContactForm from '../components/ContactForm.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <ProductTeaser />
    <ProductGrid />
    <About />
    <ContactForm />
  </main>
  <Footer />
</Layout>
